h1,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

.title {
  color: rgb(48, 51, 252);
  margin-bottom: 20px;
}

.lable {
  margin-bottom: 10px;
}
.input {
  outline: none;
  margin-bottom: 5px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 5px;
  padding: 6px 10px;
}

.input.error {
  border-color: red;
}

.button {
  color: rgb(48, 51, 252);
  border: 1px solid rgb(48, 51, 252);
  cursor: pointer;
  width: 70px;
  margin-left: auto;
  border-radius: 8px;
}

.button:hover,
.button:focus {
  background-color: rgb(137, 190, 240);
}

.error-message {
  color: red;
  display: none;
}
